<% include ../partials/header %>

<section class="blog-wrapper">
  <div class="blog-display">
    <% blog.forEach(function(blogy) { %>
      <li class="blog-container">
        <div class="blog-image">
          <img src="<%= blogy.image %>" alt="" />
        </div>

        <div class="blog-content">
          <header>
            <h3>
              <a href="/blog/<%= blogy._id %>"><%= blogy.title %></a>
            </h3>
            <p><%= blogy.date %></p>
          </header>
          <p><%= blogy.preview %></p>
          <a href="/blog/<%= blogy._id %>">Read More</a>
        </div>
      </li>
      <% }) %>


  </div>
</section>

<% include ../partials/footer %>
